* {
  margin: 0;
  background-color: #202020;
}
        
.main {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 0px;
}   

img {
  max-width: 100%;
}

.social-wrapper {
  margin-bottom: 24px;
  height: fit-content;
  display: flex;
  gap: 24px;
  justify-content: center;
  color: #9CFFC3;
}

a {
  font-size: .5em;
}
